<div align="center" class="g-carregando"> 
  <div class="g-carregando-animacao">
    <div class="g-carregando-interno"><div class="g-carregando-bolas g-carregando-bola-vermelha"> </div></div>
    <div class="g-carregando-interno"><div class="g-carregando-bolas g-carregando-bola-verde"> </div></div>
    <div class="g-carregando-interno"><div class="g-carregando-bolas g-carregando-bola-azul"> </div></div>
    <div class="g-carregando-interno"><div class="g-carregando-bolas g-carregando-bola-preta"> </div></div>
  </div>
</div>